.grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);
  width: 600px;
  height: 600px;
}

.map-grid {
  background-color: black;
}

.border {
  border: 3px solid purple;
}

.planet {
  border: 1px solid blue;
  border-radius: 10px;
}

.planet:hover {
  background-color: brown;
}

.empire {
  background-color: greenyellow;
}

.independent {
  background-color: blue;
}
